<% provide(:title, "About")%>

<h1>About</h1>
    <%= image_tag "vegetable-outlines-4898185_640.png" %>
    <p>
      Recipes is here to help you cook delicious meals with less stress and more joy. 
      We offer recipes and cooking advice for home cooks, by home cooks. 
      Helping create “kitchen wins” is what we’re all about.
    </p>