<% provide(:title, "Contact")%>

<h1>Contact</h1

<p>
    Have something you’d like to let us know? Whether you have a comment on a recipe or an idea to share,
     we would love to hear from you: contact@recipes.com.
     For press inquiries, email us at contact@recipes.com.
</p>