<% provide(:title, "Home")%>

<div class="container-fluid bg-3 text-center">
  <div class="center jumbotron">      
      <h3>Welcome to the best place for your creativity in the kitchen</h3>   
      <br><br><br>   
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-warning" %>
      <br><br><br><br><br><br> <br><br><br><br><br><br>
  </div>
  <h3>Explore most recent tastes</h3>    
  </div>
</div>
