@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
    padding-top: 60px;      
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: left;
    font-weight: normal;
    color: $gray-light;
  }

h4 {
   text-align: center;
}
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #1abc9c;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: #CAEDED;
      text-decoration: none;
    }
  }

  .jumbotron {
    background-image: url("pasta.jpg");
    background-size: 100% 100%;
  }

  

  /* footer */

  footer {    
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    a {
      color: #555;
      &:hover {
        color: #222;
      }
    }
    ul {
        float: right;
        list-style: none;
        li {
          float: left;
          margin-left: 15px;
        }
      }

  }

  @media (max-width: 800px) {
    footer {
      small {
        display: block;
        float: none;
        margin-bottom: 1em;
      }
      ul {
        float: none;
        padding: 0;
        li {
          float: none;
          margin-left: 0;
        }
      }
    }
  }

  .title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.1;
    color: #1abc9c;
    margin: 0px;
    display: block;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
  
}

.description {
  padding-left: 160px;
  padding-right: 160px;
}

.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
  display: flex;
  justify-content: center;
}

.recipe-title {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #CAEDED;
}

.recipe {
  padding: 0 1.875rem;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.card-footer{
    position:absolute;
    bottom:0;
    width:100%;
}

.card-deck .card{
    padding-bottom:50px;
}


